:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #05163f;
    --main-gray: #303841;
    --main-green :#029115;
    --main-gold:#FFC117;
    --item-bg:rgba(255, 99, 71, 0.254);
}

body{
    margin: 30px auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;  
}

.container{  
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 0 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 300px auto;
}
.item {
    /* 바탕설정 */
    background-color:var(--item-bg);
    margin:5px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;  
    /* outline: solid 2px rgb(255, 255, 255);  */
    /* outline은 border와 다르게 주어진 속성에 따라 주변환경을 변화시키지 않음. */
    
    /* item 안의 정렬 */
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 900;
    color: var(--main-gray);
}
.item:nth-child(6) {
	grid-column: 3 / 4;
	grid-row: 2/ 5;
}
.item:nth-child(7) {
	grid-column: 1 / 3;
	grid-row: 3/ 4;
}
img {
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:0.8;
}
.hidden{
    display: none;
}
#greeting, #todoList h2,#weather{
    width: auto;
    height: auto;
    padding:  0;
    margin: 15px 2px;
    font-weight: 400;
    background-color: var(--main-white);
    color: var(--main-gray);
    border-radius: 10px;
    
    border-style: solid;
    border-color: var(--main-red);
    border-right-width: 7px;
    border-bottom-width: 7px;
    
    opacity: 0.8;
}
input[type='text']{
    height: 20px;
    width: 40%;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 20px 5px;
    opacity:0.7;

    border-style: solid;
    border-color: var(--main-red);
    border-width: 2px;
}
.btn{
    border: none;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.25s;
    opacity: 0.7;

    border-style: solid;
    border-color: var(--main-red);
    border-width: 2px;
}
.liButton{
    float: right;
    margin-right: 10px;
    border: none;
    padding: 0;
    border-radius: 2px;
    text-decoration: none;
}
ul{
    /* list-style-image: url( "img/7.png" );
    font-size: 25px; */
    list-style: " ⭐️ " ;
}
li::marker {
    color: var(--main-gold);
    font-size: 1em;
    font-weight: bold;
} 
li{
    width: auto;
    max-height: fit-content;
    font-weight: 400;
    font-size: 25px;
    background-color: var(--main-white);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--main-red);
    border-right-width: 5px;
    border-bottom-width: 5px;
    margin: 5px;
    padding :0;
    opacity: 0.7;
}
#clocks h4, #clocks h5{
    color: var(--main-white);
    text-align: center;
    padding: 10px 15px;
    border-radius: 50px;
    opacity: 0.7;
    margin: 5px;
}
#clocks h5{
    background-color: var(--main-red);
}
#clocks h4{
    background-color: var(--main-green); 
}
/* #weather{
    padding: 5px;
} */

