body {
    font-family: sans-serif;
    background-color: cornflowerblue;
    display: flex;
}
h1 {
    color: antiquewhite;
}
.clicked{
    color:tomato;
    transition: color.2s ease-in-out;
} 
.lena-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bigScreen {
    background-color: #f1c40f;
}
  
.mediumScreen {
    background-color: #9b59b6;
}
  
.smallScreen {
    background-color: #3498db;
}